*.o
make/*unittest*
*.a
*.VC.opendb
*.VC.db
vs_autodiff/Debug/
vs_autodiff/Release/
.vscode/
*x64/
*.vs/
armadillo/
boost_1_69_0/
googletest-master/
*build/
*build_install/
*.DS_Store
CMakeSettings.json
